.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-border{
  width: 35%;
  align-items: center;
}

.example-full-width {
  width: 70%;
}

.logo{
  display: block;
  width: 100%;
  justify-content: center ;
  height: fit-content;
  margin-bottom: -10%;
 -webkit-transform: scale(0.7);
  transform: scale(0.7);
}