<div class="main-div">
    <div align="center" class="box-border">
        <mat-card layout="row">
            <br>
            <mat-icon svgIcon="motorola_solutions_logo" class="logo"></mat-icon>
            <h1 class="md-display-1">Cloud Infrastructure Engineering</h1>
            <br>
            <h1 class="md-display-3">Sign in</h1>
            <h3 class="md-headline">to Project Mapping Portal</h3>
            <form [formGroup]="LoginForm">

                <!-- login Email -->
                <div>
                    <mat-form-field floatLabel="auto" class="example-full-width" appearance="outline"
                        hideRequiredMarker>
                        <mat-label>Enter Email</mat-label>
                        <input formControlName="email" type="email" matInput placeholder="abc@xyz.com" required
                            name="email">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="LoginForm.controls['email'].hasError('required')">Email is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="LoginForm.controls['email'].hasError('email') && !LoginForm.controls['email'].hasError('required')">
                            please Enter a valid email address</mat-error>
                    </mat-form-field>
                </div>
                <!-- login Password -->
                <div>
                    <mat-form-field floatLabel="auto" class="example-full-width" appearance="outline"
                        hideRequiredMarker>
                        <mat-label>Enter Password</mat-label>
                        <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
                            name="password" required hideRequiredMarker>
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{showPassword?'visibility':'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="LoginForm.controls['password'].hasError('required')">Password is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="LoginForm.controls['password'].hasError('invalid_p')">Password is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>

            <mat-card-actions>
                <button [disabled]="!LoginForm.valid" mat-flat-button style="width: 40%;" color="primary"
                    (click)="performLogin()">Login
                </button>
            </mat-card-actions>
            <!-- TODO Control Progress bar -->
            <mat-card-footer>
                <mat-progress-bar [mode]="showProgressBar ? 'indeterminate' : 'determinate'"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>