<div class="main-div">
    <div align="center" class="box-border">
        <mat-card layout="row">
            <br>
            <mat-icon svgIcon="motorola_solutions_logo" class="logo"></mat-icon>
            <h1 class="md-display-1">Cloud Infrastructure Engineering</h1>
            <br>
            <h1 class="md-display-3">Sign in</h1>
            <h3 class="md-headline">to Project Mapping Portal</h3>

            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Username</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'" matInput [formControl]="passwordFormControl"
                        placeholder="Enter Password">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{showPassword?'visibility_off':'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>

            <mat-card-actions>
                <button [disabled]="passwordFormControl.hasError('required') || 
                                    emailFormControl.hasError('required') ? true : false" mat-flat-button
                    style="width: 40%;" color="primary" (click)="performLogin()">Login
                </button>
            </mat-card-actions>
            <!-- TODO Control Progress bar -->
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>