.td,
th {
    width: 25%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

table {
    width: 100%;
}

th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
.container {
    width: 100%;
    margin: 0 auto;
}

::ng-deep .mat-focused .mat-form-field-label {

    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {

    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   background-color: black !important;;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: black!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black !important;
  }